<!-- index.html for elwebapitool-->
<!-- 2020.06.23 -->

<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/fontawesome-free/css/all.css">

  <title>ECHONET Lite Web Api Tool</title>
  <style>
    body {
      padding-top: 1rem;
    }
    .card-deck {
      margin-bottom: 20px;
    }
    .card-header {
      padding: 0.1em 1em;
    }
    #packet-monitor-body {
      margin: 0;
      padding: 0;
    }
    #packet-list-wrapper {
      height: 30em;
      overflow-y: scroll;
    }
    #packet-list li {
      font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
      font-size: 90%;
      padding: 0.2em 1em;
      cursor: pointer;
    }
    #packet-list li span {
      display: inline-block;
    }
    #packet-list li span.col1 {
      width: 5em;
    }
    #packet-list li span.col2 {
      width: 2em;
    }
    #packet-detail-wrapper {
      padding: 0.5em 1em;
      border-top: 1px solid #cccccc;
    }
  </style>
</head>

<body>
<header>
</header>
<main>
<div class="container" id="app">
  <div class="card mb-3">
    <!-- Tool header-->
    <div class="card-header py-1">
      <div class="row">
        <div class="col-auto h5 mt-2">ECHONET Lite Web API Tool</div>
        <div class="col"></div>
        <div class="col-auto mt-2"> {{scheme}}://{{serverName}}{{prefix}}</div>
        <div class="col-auto">
        </div>
        <div class="col-auto mt-1 pl-0">
          <!-- SENDボタン -->
          <button type="button" class="btn btn-secondary btn-sm" v-on:click="buttonClickSend" >SEND</button>
          <!-- 設定ボタン -->
          <div class="btn" title="Configuration" v-on:click="configuration"><i class="fas fa-cog"></i></div>
        </div>
      </div>
    </div>
    <!-- Tool body-->
    <div class="card-body pt-2 pb-2">
        <form>
          <div class="form-row align-items-center">
            <div class="form-group col-md-1">
              <label for="inputMethod">Method</label>
              <select id="inputMethod" class="form-control" v-model="method" v-bind:style="methodStyle">
                <option selected>GET</option>
                <option>PUT</option>
                <option>POST</option>
                <option>DELETE</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputService">Service</label>
              <select id="inputService" class="form-control" v-model="service" v-bind:style="serviceStyle">
                <option selected></option>
                <option>/devices</option>
                <option>/bulks</option>
                <option>/groups</option>
                <option>/histories</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputId">Id</label>
              <select id="inputId" class="form-control" v-model="idSelected" v-on:change="updateResourceName">
                <option v-for="id in idList">{{ id }}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputResourceType">Resource Type</label>
              <select id="inputResourceType" class="form-control" v-model="resourceType" v-bind:style="resourceTypeStyle">
                <option selected></option>
                <option>/properties</option>
                <option>/actions</option>
                <option>/events</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputResourceName">Resource Name</label>
              <select id="inputResourceName" class="form-control" v-model="resourceNameSelected" v-bind:style="resourceNameStyle">
                <option v-for="resourceName in resourceNameList">{{ resourceName }}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputQuery">query</label>
              <input type="text" class="form-control" id="inputQuery" v-model="query" v-bind:style="queryStyle">
            </div>
          </div>
          <div class="form-row">
            <div class="input-group mb-2 mx-1">
              <div class="input-group-prepend">
                <div class="input-group-text">Body data</div>
              </div>
              <input type="text" class="form-control" id="inputBody" v-model="body" v-bind:style="bodyStyle">
            </div>
          </div>
        </form>
    </div>
  </div>

<!-- LOG -->
  <div class="card">
    <!-- LOG header-->
    <div class="card-header py-1">
      <div class="row">
        <div class="col-auto h5 mt-2">LOG</div>
        <div class="col"></div>

        <div class="col-auto pl-0">
          <div class="input-group border ml-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Order</span>
            </div>
            <!-- ラジオボタン:Normal -->
            <div class="form-check form-check-inline pl-2">
              <input type="radio" class="form-check-input" id="normalOrder" v-model="rbOrder" value="normalOrder" v-on:change="updateRbOrder">
              <label for="normalOrder" class="form-check-label">Normal</label>
            </div>
            <!-- ラジオボタン:Reverse -->
            <div class="form-check form-check-inline pl-0 mr-0">
              <input type="radio" class="form-check-input" id="reverseOrder" v-model="rbOrder" value="reverseOrder" v-on:change="updateRbOrder">
              <label for="reverseOrder" class="form-check-label ">Reverse</label>
            </div>
          </div>
        </div>

        <div class="col-auto mt-1 pl-0">
          <!-- CLEARボタン -->
          <button type="button" class="btn btn-secondary btn-sm" v-on:click="clearLog">CLEAR</button>
          <!-- SAVEボタン -->
          <button type="button" class="btn btn-secondary btn-sm" v-on:click="saveLog">SAVE</button>
        </div>
      </div>
    </div>

<!-- LOG body -->
    <div class="card-body" id="packet-monitor-body">
      <div id="packet-list-wrapper">
        <ul class="list-group"  id="packet-list" v-on:keyup.stop v-on:keydown.stop>
          <li class="list-group-item" id="packet-monitor-header" tabindex="0">
            <span class="col1">HH MM SS</span>
            <span class="col2">DIR</span>
            <span class="col3">DATA</span>
          </li>
          <li v-for="packet in packet_list" class="list-group-item" v-bind:id="packet.id" tabindex="0" v-on:focus="showPacketDetail" v-on:keydown="upDownList" >
            <span class="col1">{{ packet.timeStamp }}</span>
            <span class="col2">{{ packet.direction }}</span>
            <span class="col3"><pre>{{ packet.hex }}</pre></span>
          </li>
        </ul>
      </div>
    <!-- <div id="packet-detail-wrapper">
      <packet-detail>{{packetDetail}}</packet-detail>
    </div> -->
    </div>

  </div>
</div>
</main>

<script src="/lib/jquery-3.3.1.min.js"></script>
<!-- <script src="/lib/popper.min.js"></script> -->
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/vue.min.js"></script>
<script src="/lib/vue-router.min.js"></script>
<script src="/elwebapitool.js"></script>

</body>
</html>